.everything {
	background: #BDE5F0;
}

.title {

	font-size: 50px;
	text-align: center;
	display: block;
	margin-top: 1px;
}

.main-pic {

	width: 1000px;
	display: block;
	margin: 0px auto;
	border: 10px solid gray;
}

.paragraph {

	display: block;
	font-size: 20px;
	width: 1000px;
	margin: 30px auto;
	text-align: center;
}

.paragraph-two {

	display: block;
	text-align: center;
	font-size: 38px;
	margin: 30px auto;

}

.wrapper {

	display: flex;
}

.Josh {

	width: 250px;
	height: 300px;
	margin: 30px 50px;
}


